# OxCOVID19 (https://covid19.eng.ox.ac.uk/) - CSV data access


This notebook demonstrates how to access OxCovid19 CSV data.

In [1]:
import pandas as pd

 ## EPIDEMIOLOGY table

### List of available sources

In [2]:
from bs4 import BeautifulSoup
import requests
import re

url = 'https://github.com/covid19db/data/tree/master/data-epidemiology/'
expr = re.compile(r'.*epidemiology-(.*)\.csv')

page = requests.get(url).text
soup = BeautifulSoup(page, 'html.parser')
sources = [expr.sub(r'\1', node.get('href')) for node in soup.find_all('a') if node.get('href').endswith('.csv')]

print(sources)

['AUS_C1A', 'BEL_LE', 'BEL_SCI', 'BEL_WY', 'BRA_MSHM', 'CAN_GOV', 'CHE_OPGOV', 'CHN_ICL', 'DEU_JPGG', 'ESP_MS', 'ESP_MSVP', 'EU_ZH', 'FRA_SPF', 'FRA_SPFCG', 'GBR_NIDH', 'GBR_PHE', 'GBR_PHS', 'GBR_PHTW', 'GBR_PHW', 'IDN_GTPPC', 'IND_COVIND', 'IRL_HSPC', 'IRQ_GOV', 'ITA_PC', 'ITA_PCDM', 'JPN_C1JACD', 'KOR_DS4C', 'LAT_DSRP', 'LBN_GOV', 'MYS_MHYS', 'NGA_CDC', 'NGA_SO', 'NLD_CW', 'PAK_GOV', 'POL_COVID', 'POL_GOV', 'POL_ROG', 'POL_WIKI', 'PRT_MSDS', 'RUS_GOV', 'SAU_GOV', 'SWE_GM', 'SWE_SIR', 'THA_STAT', 'TUR_MHOE', 'UAE_GOV', 'USA_CTP', 'USA_NYT', 'WRD_ECDC', 'WRD_ECDC_WEEKLY', 'WRD_WHO', 'WRD_WHOJHU', 'ZAF_DSFSI']

### Data for single source

In [3]:
source = "GBR_PHTW"

url = f"https://media.githubusercontent.com/media/covid19db/data/master/data-epidemiology/covid19db-epidemiology-{source}.csv"
df_epidemiology = pd.read_csv(url)
df_epidemiology.head()

,source,date,country,countrycode,adm_area_1,adm_area_2,adm_area_3,tested,confirmed,recovered,dead,hospitalised,hospitalised_icu,quarantined,gid
0,GBR_PHTW,01-08-2020,United Kingdom,GBR,England,Southwark,NaN,NaN,1490.0,NaN,NaN,NaN,NaN,NaN,['GBR.1.36.28_1']
1,GBR_PHTW,01-08-2020,United Kingdom,GBR,England,Slough,NaN,NaN,669.0,NaN,NaN,NaN,NaN,NaN,['GBR.1.85_1']
2,GBR_PHTW,01-08-2020,United Kingdom,GBR,England,Shropshire,NaN,NaN,1438.0,NaN,NaN,NaN,NaN,NaN,['GBR.1.84_1']
3,GBR_PHTW,01-08-2020,United Kingdom,GBR,England,"Bournemouth, Christchurch and Poole",NaN,NaN,832.0,NaN,NaN,NaN,NaN,NaN,"['GBR.1.28.1_1', 'GBR.1.72_1', 'GBR.1.8_1']"
4,GBR_PHTW,01-08-2020,United Kingdom,GBR,England,Manchester,NaN,NaN,3306.0,NaN,NaN,NaN,NaN,NaN,['GBR.1.54_1']

## MOBILITY table

In [4]:
source = "GOOGLE_MOBILITY"
countrycode = "GBR"
    
url = f"https://media.githubusercontent.com/media/covid19db/data/master/data-mobility/covid19db-mobility-{source}.csv"
df_mobility = pd.read_csv(url)
df_mobility = df_mobility[df_mobility.countrycode==countrycode]
df_mobility.head()

,source,date,country,countrycode,adm_area_1,adm_area_2,adm_area_3,transit_stations,residential,workplace,parks,retail_recreation,grocery_pharmacy,gid,transit,walking,driving
2896,GOOGLE_MOBILITY,19-01-2021,United Kingdom,GBR,Wales,Wrexham,NaN,-58.0,16.0,-43.0,-21.0,-63.0,-29.0,['GBR.4.22_1'],NaN,NaN,NaN
2897,GOOGLE_MOBILITY,19-01-2021,United Kingdom,GBR,Wales,Vale of Glamorgan,NaN,-60.0,20.0,-52.0,-26.0,-51.0,-19.0,['GBR.4.21_1'],NaN,NaN,NaN
2898,GOOGLE_MOBILITY,19-01-2021,United Kingdom,GBR,Wales,Torfaen,NaN,-61.0,18.0,-46.0,NaN,-57.0,-29.0,['GBR.4.20_1'],NaN,NaN,NaN
2899,GOOGLE_MOBILITY,19-01-2021,United Kingdom,GBR,Wales,Swansea,NaN,-67.0,19.0,-51.0,-34.0,-63.0,-33.0,['GBR.4.19_1'],NaN,NaN,NaN
2900,GOOGLE_MOBILITY,19-01-2021,United Kingdom,GBR,Wales,"Rhondda, Cynon, Taff",NaN,-67.0,18.0,-45.0,-42.0,-58.0,-23.0,['GBR.4.18_1'],NaN,NaN,NaN

## GOVERNMENT_REPONSE table

In [5]:
countrycode = "GBR"

url = f"https://media.githubusercontent.com/media/covid19db/data/master/data-government-response/covid19db-government-response-GOVTRACK.csv"
df_govtrack = pd.read_csv(url)
df_govtrack = df_govtrack[df_govtrack.countrycode==countrycode]
df_govtrack.head()

,source,date,gid,country,countrycode,adm_area_1,adm_area_2,adm_area_3,c1_school_closing,c1_flag,...,stringency_index,stringency_indexfordisplay,stringency_legacy_index,stringency_legacy_indexfordisplay,government_response_index,government_response_index_for_display,containment_health_index,containment_health_index_for_display,economic_support_index,economic_support_index_for_display
10,GOVTRACK,24-01-2021,GBR,United Kingdom,GBR,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,GOVTRACK,23-01-2021,GBR,United Kingdom,GBR,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
380,GOVTRACK,22-01-2021,GBR,United Kingdom,GBR,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
565,GOVTRACK,21-01-2021,GBR,United Kingdom,GBR,NaN,NaN,NaN,2.0,1.0,...,84.26,84.26,88.1,88.1,79.0,79.0,75.77,75.77,100.0,100.0
750,GOVTRACK,20-01-2021,GBR,United Kingdom,GBR,NaN,NaN,NaN,2.0,1.0,...,84.26,84.26,88.1,88.1,79.0,79.0,75.77,75.77,100.0,100.0

## BASELINE MORTALITY table

In [6]:
countrycode = "GBR"

url = f"https://media.githubusercontent.com/media/covid19db/data/master/data-statistics/covid19db-baseline-mortality.csv"
baseline_mortality = pd.read_csv(url)
baseline_mortality = baseline_mortality[baseline_mortality.countrycode==countrycode]
baseline_mortality.head()

,source,date,country,countrycode,adm_level,gid,deaths
78,UK-ONS,27-07-2020,United Kingdom,GBR,West Midlands,"['GBR.1.40_1', 'GBR.1.108_1', 'GBR.1.117_1', '...",964
79,UK-ONS,27-07-2020,United Kingdom,GBR,East Midlands,"['GBR.1.24_1', 'GBR.1.25_1', 'GBR.1.66_1', 'GB...",798
80,UK-ONS,27-07-2020,United Kingdom,GBR,South East,"['GBR.1.9_1', 'GBR.1.13_1', 'GBR.1.57_1', 'GBR...",1340
81,UK-ONS,27-07-2020,United Kingdom,GBR,North East,"['GBR.1.30_1', 'GBR.1.23_1', 'GBR.1.39_1', 'GB...",493
82,UK-ONS,27-07-2020,United Kingdom,GBR,Yorkshire and The Humber,"['GBR.1.31_1', 'GBR.1.45_1', 'GBR.1.52.4_1', '...",817

# SURVEYS table

In [7]:
countrycode = "GBR"

url = f"https://media.githubusercontent.com/media/covid19db/data/master/data-statistics/covid19db-surveys.json"
df_surveys = pd.read_json(url)
df_surveys = df_surveys[df_surveys.countrycode==countrycode]
df_surveys.head()

,source,wave,gid,country,countrycode,adm_area_1,adm_area_2,adm_area_3,samplesize,properties
13,EVS,1981-1984,[GBR],United Kingdom,GBR,None,NaN,NaN,1167,{'A001': {'Label': 'Important in life: Family'...
41,EVS,1990-1993,[GBR],United Kingdom,GBR,None,NaN,NaN,1484,{'A001': {'Label': 'Important in life: Family'...
74,EVS,1999-2001,[GBR],United Kingdom,GBR,None,NaN,NaN,1000,{'A001': {'Label': 'Important in life: Family'...
117,EVS,2008-2010,[GBR],United Kingdom,GBR,None,NaN,NaN,1561,{'A001': {'Label': 'Important in life: Family'...
196,WVS,1994-1998,[GBR],United Kingdom,GBR,None,NaN,NaN,1093,{'A001': {'Label': 'Important in life: Family'...

# WORLD BANK table

In [8]:
countrycode = "GBR"

url = f"https://media.githubusercontent.com/media/covid19db/data/master/data-statistics/covid19db-world_bank.csv"
df_wb = pd.read_csv(url)
df_wb = df_wb[df_wb.countrycode==countrycode]
df_wb.head()

,source,gid,country,countrycode,adm_area_1,adm_area_2,adm_area_3,indicator_name,indicator_code,value,year
299935,World Bank,GBR,United Kingdom,GBR,NaN,NaN,NaN,GINI index (World Bank estimate),SI.POV.GINI,3.480000e+01,2016
300762,World Bank,GBR,United Kingdom,GBR,NaN,NaN,NaN,GNI (constant 2010 US$),NY.GNP.MKTP.KD,2.840612e+12,2018
301289,World Bank,GBR,United Kingdom,GBR,NaN,NaN,NaN,GNI (constant LCU),NY.GNP.MKTP.KN,1.990170e+12,2018
301532,World Bank,GBR,United Kingdom,GBR,NaN,NaN,NaN,GNI (current LCU),NY.GNP.MKTP.CN,2.184546e+12,2019
301632,World Bank,GBR,United Kingdom,GBR,NaN,NaN,NaN,GNI (current US$),NY.GNP.MKTP.CD,2.788384e+12,2019